<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title> Julius Tribute </title>
  <link rel="stylesheet" href="./style.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en">

</head>
<body>
<!-- partial:index.partial.html -->

<body ng-controller="mainCtrl as mainVm" ng-cloak>

  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-menu-container>
      <md-button>Home</md-button>
    </md-menu-container>
  </md-sidenav>
  <div class="main-content">
    <div class="hero">
     <!--- <md-button class="main-menu md-primary" ng-click="mainVm.openLeftMenu()">
        <md-icon>menu</md-icon>
      </md-button> -->
      <div class="hero-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <h1 class="md-display-3">Julius Bright</h1>
        </div>
      </div>
    </div>
    <div class="section slanted">
      <div class="section-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <div class="quote-block md-headline">
            <md-icon class="rotate-180">format_quote</md-icon>
            I believe that if you show people the problems and you show them the solutions they will be moved to act.
            <md-icon>format_quote</md-icon>
          </div>
        </div>
      </div>
      <div class="section-wrapper no-padding-top" layout="row" layout-align="center center">
        <div class="history">
          <h2 class="md-title">TIMELINE<div class="border-shadow"></div></h2>
          <md-grid-list class="history-grid" md-cols-gt-md="8" md-cols-md="8" md-cols-sm="6" md-cols-xs="4" md-cols="4" md-row-height="1:1" md-gutter="8px">
            <md-grid-tile ng-repeat="tile in mainVm.historyTiles track by $index" md-colspan="2" md-rowspan="2" ng-style="{'background-image': 'url('+tile.image+')'}">

              <div class="tile-contents" layout="column" layout-align="center center">
                <h2>{{tile.year}}</h2>
                <div class="md-body-2 tile-cover" layout="column" layout-align="center center">
                  <h2>{{tile.year}}</h2>
                  <div>{{tile.title}}</div>
                </div>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
    </div>
    <div class="section image-window">

    </div>
    
<header>
    <h1><span>[ Portfolio Gallery ]</span></h1>
<p >click to view</p>
</header>

<div id="top"></div>
<section class="gallery">
	<div class="row">
		<ul>
			<a href="#" class="close"></a>
			<li>
				<a href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3892302/contact.png" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4154721/dive--001.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4356121/darko--dr.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3695553/news.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4360101/liberosis_--_12.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3148799/technical-book.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/2883479/cover.jpg" alt="">
				</a>
			</li>
		</ul>
	</div> <!-- / row -->

	<!-- Item 01 -->
	<div id="item01" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 01</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>

				<img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
			</div>
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

	<!-- Item 02 -->
	<div id="item02" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 02</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>
			<img src="https://cdn.dribbble.com/users/545884/screenshots/2883479/cover.jpg" alt="">
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

</section> <!-- / projects -->
<!-- partial -->
 
    <div class="section footer">
      <div class="section-wrapper" layout="row" layout-align="start center">
        <div layout="column">
          <div layout="row" layout-align="start center">
            <div class="profile-image-border">
              <div class="profile-image" src="WhatsApp Image 2020-05-26 at 18.22.08.jpeg"></div>
            </div>
            <div class="md-headline">Want to know more about Julius Bright? Feel free to check out <a href="https://www.juliusbright.com/" target="_blank">www.juliusbright.com</a> </div>
          </div>
        </div>
      </div>
      <div class="author md-body-2" layout-align="center center">
        Made with
        <md-icon>B</md-icon> by Julius
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
</body>

</html>
<!-- partial -->
  <script  src="./script.js"></script>
  <script>
  // portfolio
 $('.gallery ul li a').click(function() {
     var itemID = $(this).attr('href');
     $('.gallery ul').addClass('item_open');
     $(itemID).addClass('item_open');
     return false;
 });
 $('.close').click(function() {
     $('.port, .gallery ul').removeClass('item_open');
     return false;
 });

 $(".gallery ul li a").click(function() {
     $('html, body').animate({
         scrollTop: parseInt($("#top").offset().top)
     }, 400);
 });
</script>
</body>
</html>
